[Unit]
Description=TribeVPN Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/TribeVPN/bin/Tribe-service

[Install]
WantedBy=multi-user.target
