#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=TribeVPN
Version=1.0
Comment=Tribe VPN client
Exec=TribeVPN
Icon=/usr/share/pixmaps/TribeVPN.png
Categories=Network;Qt;Security;
Terminal=false
